* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 300ms;
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    width: 20%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.menu .logo img {
    width: 100px;
}

#menu-2 {
    left: -100%;
    transition: all 500ms;
    width: 100%;
    height: 90vh;
}

@media screen and (min-width: 700px) {
    #tikla {
        display: none;
    }

    .menu {
        width: 20%;
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
    }

    #menu-2 {
        transition: all 500ms;
        position: relative;
        display: flex;
        top: 0vh;
        left: 0;
        height: 10vh;
        display: flex;
        flex-direction: row;
    }
#menu-2 li a:hover{
    transform: scale(.9);
}
    #menu-2 li {
        margin: 0 5px;
    }
}